*.o
aclocal.m4
autom4te.cache/
autoscan.log
config.guess
config.log
config.status
config.sub
configure
configure.scan
depcomp
.deps/
doc/growlight.ent
growlight-tty
growlight.8
growlight-*.tar.bz2
growlight-*.tar.gz
install-sh
Makefile
Makefile.in
missing
src/config.h
src/config.h.in
src/config.h.in~
src/.dirstamp
src/stamp-h1
tags
.tags
