*.o
aclocal.m4
autom4te.cache/
autoscan.log
config.guess*
config.log*
config.status*
config.sub*
configure
configure.scan
debian/
depcomp
.deps/
doc/growlight.ent
growlight-curses
growlight-tty
growlight-curses.8
growlight-tty.8
growlight-*.tar.bz2
growlight-*.tar.gz
install-sh
Makefile
Makefile.in
missing
.pc
src/config.h
src/config.h.in
src/config.h.in~
src/.dirstamp
src/stamp-h1
tags
.tags
