Source: growlight
Section: utils
Priority: optional
Maintainer: Nick Black <dankamongmen@gmail.com>
Build-Depends:
 autoconf-archive,
 debhelper (>= 12),
 docbook-xsl,
 libatasmart-dev,
 libblkid-dev,
 libcryptsetup-dev,
 libcunit1-ncurses-dev,
 libdevmapper-dev,
 libnotcurses-dev (>= 1.1.6),
 libpci-dev,
 libpciaccess-dev,
 libreadline-dev,
 libssl-dev,
 libudev-dev,
 libzfslinux-dev (>= 0.8.0),
 pkg-config,
 xsltproc,
Standards-Version: 4.5.0
Homepage: https://nick-black.com/dankwiki/index.php/Growlight
Vcs-Browser: https://github.com/dankamongmen/growlight
Vcs-Git: https://github.com/dankamongmen/growlight.git

Package: growlight
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Disk manipulation and system preparation tool
 Growlight can manipulate both real and virtual (mdadm, device-mapper, and ZFS)
 disks, find bottlenecks in a storage setup, create partitions and filesystems,
 and prepare fstab files for new installations.
